app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  app-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .title {
    font-size: 3rem;
    text-align: center;
    padding: 20px 0px;
  }